:root {
    --surface-ground: #f1f5f9;
    --code-background: var(--p-surface-900);
    --code-color: var(--p-surface-200);
     // custom theme variables
    --login-bg: #000;
    --login-bglinear: #fff;
    --login-bggradient: #c4c4c4;
    --login-stroke: #e5e2e2;
    --grid-stroke: #333;
    --input-bg: #999;
    --input-text: #333;
    --border-color-create: rgba(255, 193, 6, 0.3);
    --chart-null-bg: #999;
    --tmp-dialog-bg: #999;
    --bg-header-tb: #ddf1f6a2;
    --hover-tb: rgba(141, 141, 141, 0.807)a2;
}
